{{ define "main" }}

<!-- ballot measure single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
    </div>
    <!-- ballot measure details -->
    <div class="row">
      <div class="col-12 mb-50 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /ballot measure single -->
<section class="bg-primary">
  <div class="container">
    <div class="row" >
      <h4 class="text-white font-secondard mb-0 missing-anything-footer">Are we missing anything? <a href="mailto:{{ .Site.Params.Email}}"><u>Contact us!</u></a></h4>
    </div>
  </div>
</section>
{{ end }}