

{{ define "main" }}

<!-- guide -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ with .Params.Image }}
        <img class="img-fluid w-100 mb-4" src="{{ . | relURL }}" alt="guide image">
        {{ end }}
        {{ .Content }}
      </div>
      {{ range .Data.Pages}}
      <!-- recharch item -->
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "guide" }}</div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /guide -->

{{ end }}