{{ define "main" }}

<!-- candidates -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- candidate category list -->
      </div>
    </div>
    <!-- candidate list -->
    {{ range (.Data.Pages.GroupByParam "Office") }}
    <div><h3>{{ .Key }}</h2></div>
    <div class="row filtr-container">
      {{ range (.Pages)}}
      <div class="col-lg-4 col-sm-6 filtr-item">
        <!-- candidate -->
        {{ .Render "candidate" }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
<!-- /candidates -->

{{ end }}
