{{ define "main" }}

<!-- candidates -->
<section class="section">
  <div class="container">
    {{ range (.Data.Pages.GroupByParam "Office") }}
      <div>
        <h3>{{ .Key }}</h3>
          <div>
            {{ range (.Pages.GroupByParam "district") }}
              <h4>District: {{ .Key }}</h4>
              <div class="row filtr-container">
                {{ range (.Pages)}}
                  <div class="col-lg-4 col-sm-6 filtr-item">
                    {{ .Render "candidate" }}
                  </div>
                {{ end }}
              </div>
            {{ end }}
          </div>
      </div>
    {{ end }}
  </div>
</section>
<!-- /candidates -->

{{ end }}
